<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.example.bongotasks.TaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/com.example.bongotasks.TaskServlet/dashboard</url-pattern>
        <url-pattern>/com.example.bongotasks.TaskServlet/addTask</url-pattern>
        <url-pattern>/com.example.bongotasks.TaskServlet/updateTask</url-pattern>
        <url-pattern>/com.example.bongotasks.TaskServlet/deleteTask</url-pattern>
        <url-pattern>/com.example.bongotasks.TaskServlet/fillTask</url-pattern>
        <url-pattern>/com.example.bongotasks.TaskServlet/updateStatus</url-pattern>
    </servlet-mapping>


</web-app>

